<turbo-frame id="<%= dom_id counter %>">
  <p class="my-5">
    <%= link_to counter.name, counter %>
  </p>

  <p class="my-5 text-8xl">
    <%= counter.number %>
  </p>
  <%= form_with(model: counter, class: "contents") do |form| %>
    <%= form.submit "Up", class: "rounded-lg py-3 px-5 text-white inline-block font-medium cursor-pointer" %>
    <%= form.submit "Down", class: "rounded-lg py-3 px-5 text-white inline-block font-medium cursor-pointer" %>
    <%= form.submit "Reset", class: "rounded-lg py-3 px-5 text-white inline-block font-medium cursor-pointer" %>
  <% end %>

  <% if action_name != "show" %>
    <%= link_to "Show this counter", counter, class: "hidden rounded-lg py-3 px-5 inline-block font-medium" %>
    <%= link_to "Edit this counter", edit_counter_path(counter), class: "hidden rounded-lg py-3 ml-2 px-5 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</turbo-frame>
