<!DOCTYPE html>
<html>
  <head>
    <title>Counting</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <main class="mx-10 mt-2 px-5 flex flex-row" data-controller="resizable">
      <section id="main" data-resizable-target="resizable" style="min-width: 333px">
      <%= yield %>
      </section>
      <section class="bg-sky-100 flex-row flex text-black flex-grow">
        <div data-resizable-target="handle" class="w-4 h-full block bg-slate-500 absolute cursor-ew-resize"></div>
        <div class="p-5 max-w-xs">Context</div>
      </section>
    </main>
  </body>
</html>
